@use 'sass:map';
@use '@angular/material' as mat;


@import "~./../../../../node_modules/@angular/material/theming";
@include mat.core();
$my-dark-theme-typography: mat.define-typography-config($font-family: 'a-google',
    $headline : mat.define-typography-level(24px, 32px, 400px));
$dark-warn-palette: (
  50 : #fbe7e9,
  100 : #f5c2c7,
  200 : #ee9aa2,
  300 : #e7727d,
  400 : #e15361,
  500 : #dc3545,
  600 : #d8303e,
  700 : #d32836,
  800 : #ce222e,
  900 : #c5161f,
  A100 : #fff6f7,
  A200 : #ffc3c6,
  A400 : #ff9095,
  A700 : #ff777c,
  contrast: (50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000, )
);

// Define a dark theme
$dark-primary: mat.define-palette(mat.$deep-purple-palette, 500);
$dark-accent: mat.define-palette(mat.$yellow-palette, 500);
$dark-warn: mat.define-palette($dark-warn-palette, 600, 900, 900);


$dark-theme: mat.define-dark-theme((color: (primary: $dark-primary,
        accent: $dark-accent, warn:$dark-warn), typography: $my-dark-theme-typography));
@include mat.all-component-themes($dark-theme);
